button{
    background-color:blue;
    color:white;
    padding:15px 30px;
    border:none;
    cursor:pointer;

    transition:background-color 1s;
}

button:hover{
    background-color:red;
}